<%- include("../partials/header.ejs") %>
    <div class="container">
        <div class="jumbotron" style="height: 250px;">
            <div class="float-left">
                <h1>My Products</h1>
            </div>

        </div>
        <div class="row mt-5  ">
            <% products.forEach(function(elt){ %>
                <div class="col-lg-5 col-xl-3 col-sm-6 col-12">
                    <div class="card mb-2">
                        <div class="card-body p-2 pt-3">
                            <h5 class="card-title mb-2 mt-2 heading">
                                <%= elt['product_name'] %>
                            </h5>
                            <p>
                                <%= elt['description'] %>
                            </p>
                            <h4>
                                <%= elt['price'] %> ₹
                            </h4>
                            <% if(!elt['sold']) { %>
                                <a href="/products/<%=elt.id%>/edit" class="btn btn-outline-danger my-2">Edit</a>
                            <% } else { %>
                                <p class="btn btn-success my-2"> SOLD </p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <div class="container">
            <div class="jumbotron" style="height: 250px;">
                <div class="float-left">
                    <h1>Order History</h1>
                </div>
    
            </div>
            <div class="row mt-5  ">
                <% purchased.forEach(function(elt){ %>
                    <div class="col-lg-5 col-xl-3 col-sm-6 col-12">
                        <div class="card mb-2">
                            <div class="card-body p-2 pt-3">
                                <h5 class="card-title mb-2 mt-2 heading">
                                    <%= elt['product_name'] %>
                                </h5>
                                <p>
                                    <%= elt['description'] %>
                                </p>
                                <h4>
                                    <%= elt['price'] %> ₹
                                </h4>
                                <a href="/products/<%=elt.id%>/feedback" class="btn btn-outline-danger my-2">Give Feedback</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
    </div>

    <%- include("../partials/footer.ejs") %>